.mr20 {
  margin-right: 20px;
}

.spacer {
  margin-top: 50px;
}

.small-spacer {
  margin-top: 30px;
}

#nav-list {
  max-height: 85%;
  overflow-y: auto;
  direction: rtl;
}

#nav-list .list-content {
  direction: ltr;
}

.list-group, .list-group-item {
  border: 0 none !important;
}

.list-group-item.sub-item {
  margin-left: 25px;
}

#profile img {
  width: 150px;
  margin: auto;
}

#profile > div {
  position: relative;
}

#profile .download-link {
  position: absolute;
  top: 0;
  right: 15px;
}

.glyphicon.left, .fa.left {
  margin-right: 10px;
}

.glyphicon.right, .fa.right {
  margin-left: 10px;
}

.main-content > div {
  margin-bottom: 30px;
}

h3.session-title {
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.session-element {
  margin-bottom: 30px;
}

#skills img {
  width: 60px;
  margin-right: 20px;
}

#working-experience img {
  width: 80px;
  margin-right: 20px;
}

.media-body {
  padding-bottom: 10px;
}

.sub-session:not(:last-child) {
  margin-bottom: 50px;
}

.sub-session .session-subtitle {
  text-decoration: underline;
}

.gold-color {
  color: #ffd700;
}

@media (max-width: 991px) {
  h3.session-title {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  #skills img, #working-experience img {
    width: 50px;
    margin-right: 8px;
  }
}